@use "../variables" as variables;

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .date-container {
        margin-top: 10px;
        display: flex;
        gap: 15px;
        width: 100%;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        .dates {
            display: flex;
            gap: 10px;
        }

        .month {
            width: max-content;
            height: 80px;
            background-color: var(--foreground-color);
            color: var(--disable-color);
            font-size: 1rem;
            font-weight: 500;
            @include variables.disableBorderColor(0.3);
            border-radius: 5px;
            @extend %container-center-style;

            p {
                rotate: -90deg;
            }
        }

        .day {
            width: 60px;
            padding-inline: 20px;
            @extend %container-center-style;
            flex-direction: column;
            background-color: var(--foreground-color);
            @include variables.disableBorderColor(0.3);
            cursor: pointer;
            border-radius: 5px;
            flex-shrink: 0;

            p {
                font-size: 1rem;

                &:last-child {
                    font-size: 0.8rem;
                }
            }
        }

        .active-day {
            @extend .day;
            background-color: var(--primary-color);
            color: var(--dark-foreground-color);
            border-color: var(--primary-color);
        }
    }

    .time-container {
        display: flex;
        overflow: scroll;
        gap: 10px;
        width: 700px;

        &::-webkit-scrollbar {
            display: none;
        }

        .time {
            flex-shrink: 0;
            padding: 10px 20px;
            background-color: var(--foreground-color);
            cursor: pointer;
            @include variables.disableBorderColor(0.3);
            border-radius: 5px;
        }

        .active-time {
            @extend .time;
            background-color: var(--primary-color);
            color: var(--dark-foreground-color);
            border-color: var(--primary-color);
        }
    }

    .form {
        margin-top: 20px;
        width: 450px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .submit-button {
        @extend %primary-button-style;
    }
}

.spinner-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

@media (max-width: 800px) {
    .container {
        .time-container {
            width: 100%;
        }
    }
}
