$background-color: #f7f7f7;
$foreground-color: #FFFF;
$primary-color: #3CE062;
$primary-accent-color: #24bc47;
$foreground-theme-color: #000;
$success-background-color: #8EFFC8;
$success-foreground-color: #1B5E20;
$warn-background-color: #FEFFBE;
$warn-foreground-color: #768600;
$error-background-color: #FFDFDF;
$error-foreground-color: #FF0000;
$disable-color: #7F7F7F;
$dark-background-color: #161616;
$dark-foreground-color: #000000;
$dark-foreground-text-color: #FFFF;