// Mixins

@mixin disableBorderColor($opacity) {
    border: 1.5px solid rgb(from var(--disable-color) r g b / $opacity);
}

@mixin button-basic-style($color, $background-color) {
    @extend %container-center-style;
    cursor: pointer;
    border: none;
    color: $color;
    background-color: $background-color;
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 10px;
    font-weight: 500;
}


// Styles

%container-center-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

%input-basic-style {
    outline: none;
    @include disableBorderColor(0.3);
    border-radius: 5px;
    background-color: var(--foreground-color);
    color: var(--foreground-theme-color);

    &::placeholder {
        font-family: "Space Grotesk", sans-serif;
        font-optical-sizing: auto;
        font-size: 0.9rem;
        font-weight: 400;
    }

    &:focus {
        border: 1.5px solid var(--primary-color);
    }

    &::-webkit-inner-spin-button,&::-webkit-outer-spin-button{
        display: none;
    }
}

%primary-button-style {
    @include button-basic-style(var(--dark-foreground-color), var(--primary-color));

    &:hover,
    &:active {
        background-color: var(--primary-accent-color);
    }
}