@use '../variables' as variables;

.container{
    width: 100%;
    height: calc(100dvh - 60px);
    left: 0px;
    @extend %container-center-style;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .image{
        width: 200px;
        height: 200px;
        aspect-ratio: 1 / 1;
    }

    .heading{
        font-size: 1.2rem;
        font-weight: 500;
    }

    .about{
        font-size: 0.9rem;
        font-weight: 400;
        color: var(--disable-color);
    }
}

.page-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-button{
    margin-top: 10px;
    @extend %primary-button-style;
}