# Backend urls
VITE_APP_URL=<app_url>
VITE_AUTH_URL=<auth_server_url>
VITE_MOVIE_URL=<movie_service_url>
VITE_MEDIA_URL=<media_service_url>
VITE_THEATER_URL=<theater_service_url>
VITE_THEATER_SHOW_URL=<theater_show_service_url>
VITE_BOOKINGS_URL=<bookings_service_url>