@use '../variables' as variables;

.container{
    width: 100%;
    height: 60px;
    padding-inline: 20px;
    padding-block: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: variables.$foreground-color;

    .logo{
        width: 30px;
        height: 30px;
    }
}

.navs{
    display: flex;
    gap: 8px;
    align-items: center;
    position: relative;
}

.theme-icon-container{
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    height: 100%;

    &:hover{
        background-color: variables.$background-color;
    }
}

.option-menu-button{
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;

    .arrow-icon{
        transition: rotate 200ms linear;
    }

    .rotate-arrow-icon{
        rotate: 180deg;
        transition: rotate 200ms linear;
    }
}

.option-menu{
    position: absolute;
    padding: 13px;
    top: 53px;
    right: -10px;
    border: 1px solid rgb(variables.$disable-color, 0.2);
    border-radius: 7px;
    background-color: variables.$foreground-color;
    min-width: 200px;

    .option-menu-link{
        display: flex;
        color: variables.$foreground-theme-color;
        gap: 5px;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-decoration: none;
        font-weight: 500;
    }
}