@use '../variables' as variables;

.container {
    display: flex;
    flex-direction: column;
}

.list {
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    .theater-details-container {
        width: 100%;
        padding-block: 20px;
        padding-inline: 20px;
        background-color: var(--foreground-color);
        @include variables.disableBorderColor(0.3);
        border-radius: 5px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }
}

.theater-details-container {
    .status {
        position: absolute;
        top: 7px;
        right: 7px;
        font-size: 0.6rem;
        font-weight: 500;
        background-color: var(--warn-background-color);
        color: var(--warn-foreground-color);
        padding-block: 5px;
        padding-inline: 10px;
        border-radius: 7px;
    }

    .theater-image {
        width: 70px;
        aspect-ratio: 1 / 1;
        border-radius: 10px;
        margin-top: 15px;
    }

    .theater-details {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}

.theater-details-container {
    .theater-details {
        h1 {
            font-size: 0.9rem;
            max-height: 23px;
            overflow: hidden;
        }

        .details {
            margin-top: 7px;
            display: flex;
            align-items: center;
            gap: 7px;

            p {
                font-size: 0.8rem;
                max-height: 36px;
                color: var(--disable-color);
                overflow: hidden;
            }
        }

        .icon {
            flex-shrink: 0;
            color: var(--disable-color);
        }

        .button-container {
            display: flex;
            gap: 5px;
            margin-top: 10px;
        }

        .button {
            width: 100%;
            padding-block: 5px;
            font-size: 0.8rem;
            font-weight: 500;
            @include variables.disableBorderColor(0.3);
            background-color: var(--foreground-color);
            border-radius: 5px;
            cursor: pointer;
            color: var(--foreground-theme-color);

            &:last-child {
                background-color: var(--primary-color);
                color: var(--dark-foreground-color);
                border: none;
            }
        }
    }
}

@media(max-width: 1050px) {
    .list {
        width: 100%;
    }
}

@media(max-width: 700px) {
    .list {
        grid-template-columns: 1fr;
        justify-content: center;
    }
}

@media(max-width: 500px) {

    .theater-details {
        .button-container {
            flex-direction: column;
        }
    }

}