@use '../variables' as variables;

.container {
    width: 190px;
    min-height: 270px;
    background-color: var(--foreground-color);
    display: flex;
    flex-direction: column;
    padding: 10px;
    @include variables.disableBorderColor(0.3);
    border-radius: 3px;
    flex-shrink: 0;
    gap: 10px;

    .image-ui{
        width: 100%;
        aspect-ratio: 2 / 3;
        @include variables.disableBackgroundColor(0.3);
    }

    .details-ui{
        display: flex;
        flex-direction: column;
        gap: 5px;

        .title{
            width: 100%;
            height: 20px;
            @include variables.disableBackgroundColor(0.3);
        }

        .other-details-ui{
            @extend .title;
            height: 10px;
        }
    }
}

@media(max-width: 600px){

    .container{
        width: 150px;
        min-height: 230px;
    }

}