# Port
PORT=<port_number>

# Client urls
ADMIN_DASHBOARD_URL=<admin_dashboard_url>

# Database
DB_URL=<database_url>

# External urls
AUTH_SERVICE_URL=<auth_service_url>

# Redis
REDIS_HOST=<redis_host>
REDIS_PORT=<redis_port>