@use '../variables' as variables;

.container{
    width: 100%;
    height: calc(80dvh - 60px);
    left: 0px;
    @extend %container-center-style;
    flex-direction: column;
    gap: 10px;

    .image{
        width: 200px;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .heading{
        font-size: 1.2rem;
        font-weight: 500;
    }

    .about{
        font-size: 0.9rem;
        font-weight: 400;
        color: var(--disable-color);
    }
}

.page-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-button{
    margin-top: 10px;
    @extend %primary-button-style;
}

@media(max-width: 600px){

    .container{
        padding-inline: 15px;

        .about{
            text-align: center;
        }
    }

}

@media(max-width: 400px){

    .container{
        .image{
            width: 80%;
            height: auto;
        }
    }

}