# Port
PORT=<port_number>

# Postgres
DB_DATABASE_NAME=<database_name>
DB_USERNAME=<database_username>
DB_HOST=<database_host>
DB_PORT=<database_port>
DB_PASSWORD=<database_password>

# Supabase
SUPABASE_PROJECT_URL=<supabase project url>
SUPABASE_API_KEY=<supabase api key>

# Client urls
ADMIN_DASHBOARD_URL=<admin_dashboard_url>