# API URLs
AUTH_URL=<auth_service_url>
MEDIA_URL=<media_service_url>
THEATER_URL=<theater_url>
MOVIE_URL=<movie_url>
SAVED_LIST_URL=<saved_list_url>
RATE_URL=<rate_url>
NOTIFICATION_URL=<notification_url>
SHOW_URL=<show_url>
BOOKINGS_URL=<bookings_url>
CHECKOUT_URL=<checkout_url>

# Firebase configuration keys
NEXT_PUBLIC_FIREBASE_API_KEY=<firebase_api_key>
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=<firebase_auth_domain>
NEXT_PUBLIC_FIREBASE_PROJECT_ID=<firebase_project_id>
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=<firebase_storage_bucket>
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=<firebase_messaging_sender_id>
NEXT_PUBLIC_FIREBASE_APP_ID=<firebase_app_id>

# External urls
NEXT_PUBLIC_ADMIN_DASHBOARD_URL=<admin_dashboard_url>
NEXT_PUBLIC_THEATER_DASHBOARD_URL=<theater dashboard>

# Stripe
NEXT_PUBLIC_STRIPE_API_KEY=<stripe_api_key>

# Websocket urls
NEXT_PUBLIC_BOOKINGS_WEBSOCKET_URL=<bookings_websocket_url>