# Port
PORT=<port_number>

# Databases
POSTGRES_DATABASE_NAME=<postgres_database_name>
POSTGRES_USERNAME=<postgres_database_user_name>
POSTGRES_HOST=<postgres_database_host>
POSTGRES_PORT=<postgres_database_port>
POSTGRES_PASSWORD=<postgres_database_password>
MONGODB_URL=<mongodb_url>

# Client urls
APP_URL=<app_url>
THEATER_DASHBOARD_URL=<theater_dashboard_url>
ADMIN_DASHBOARD_URL=<admin_dashboard_url>

# External urls
AUTH_SERVICE_URL=<auth_service_url>
MEDIA_SERVICE_URL=<media_service_url>

# Nodemailer keys
NODEMAILER_GMAIL_APP_PASSWORD=<gmail_app_password>
NODEMAILER_GMAIL_USER_EMAIL=<gmail_user_email>