# Port
PORT=<port_number>

# Database
DB_DATABASE_NAME=<database_name>
DB_USERNAME=<database_username>
DB_HOST=<database_host>
DB_PORT=<database_port_number>
DB_PASSWORD=<database_password>

# Redis
REDIS_HOST=<redis_host>
REDIS_PORT=<redis_port>
REDIS_URL=<redis_url>

# External urls
AUTH_SERVICE_URL=<auth_service_url>

# Client urls
APP_URL=<app_url>