@use '../variables' as variables;

.loading-spinner-container{
    width: 100%;
    @extend %container-center-style;
}

.container{
    width: 100%;
    height: 100%;
    @extend %container-center-style;
    flex-direction: column;

    .image{
        width: 200px;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .about{
        text-align: center;
        font-size: 0.9rem;
        margin-top: 20px;
    }

    .button{
        @extend %primary-button-style;
        margin-top: 20px;
        width: 300px;
    }
}

@media(max-width: 600px){

    .container{
        .image{
            width: 45%;
        }
    }

}

@media(max-width: 400px){
    .container{
        .button{
            width: 100%;
        }
    }
}