.container{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    width: 100%;
    height: calc(100dvh - 60px);
    overflow: hidden;
}

@media(max-width: 800px){

    .container{
        display: flex;
        width: 100%;
    }

}