@use "../variables" as variables;

%disable-color {
    color: rgb(from var(--foreground-theme-color) r g b / 0.5);
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 450px;
    padding: 28px;
    background-color: var(--foreground-color);
    @include variables.disableBorderColor(0.3);
    border-radius: 10px;
    margin-top: 20px;

    .status {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 0.7rem;
        padding-block: 4px;
        padding-inline: 10px;
        font-weight: 500;
        border-radius: 7px;
    }

    .available-status {
        @extend .status;
        background-color: var(--success-background-color);
        color: var(--success-foreground-color);
    }

    .not-show-status {
        @extend .status;
        background-color: var(--error-background-color);
        color: var(--error-foreground-color);
    }

    .pending-status {
        @extend .status;
        background-color: var(--warn-background-color);
        color: var(--warn-foreground-color);
    }

    .image-container {
        margin-top: 20px;

        img {
            aspect-ratio: 1 / 1;
            border-radius: 10px;
        }
    }

    .details-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .name {
        font-size: 1rem;
        font-weight: 500;
    }

    .details {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .icon {
        @extend %disable-color;
        flex-shrink: 0;
    }

    .text {
        font-size: 0.8rem;
        font-weight: 500;
        @extend %disable-color;
    }

    .theater-owner-details {
        margin-top: 15px;
        display: flex;
        gap: 6px;

        img {
            height: 35px;
            aspect-ratio: 1 / 1;
            min-height: 30px;
            border-radius: 50%;
        }

        .details {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 0px;

            p {
                max-height: 21px;
                overflow: hidden;
                font-size: 0.82rem;
                font-weight: 500;
                word-break: break-all;

                &:last-child {
                    color: var(--disable-color);
                }
            }
        }
    }
}

@media (max-width: 700px) {
    .container {
        width: 100%;
    }
}
