# Port
PORT=<port_number>

# Database
DB_DATABASE_NAME=<database_name>
DB_USERNAME=<database_user_name>
DB_HOST=<database_host>
DB_PORT=<database_port>
DB_PASSWORD=<database_password>

# Admin key
ADMIN_KEY=<admin_key>

# Client urls
APP_CLIENT_URL=<client_url>
ADMIN_DASHBOARD_URL=<admin_dashboard_url>
THEATER_DASHBOARD_URL=<theater_dashboard_url>

# JWT secret
JWT_SECRET=<jwt_secret>

# Services
UPLOAD_IMAGE_BASE_URL=<media_service_base_url>

# Nodemailer
NODEMAILER_GMAIL_APP_PASSWORD=<gmail_app_password>
NODEMAILER_GMAIL_USER_EMAIL=<gmail>

# Redis
REDIS_HOST=<redis_host>
REDIS_PORT=<redis_port>