# Port
PORT=<port_number>

# Database
DB_DATABASE=<database_name>
DB_USER=<database_user_name>
DB_HOST=<database_host>
DB_PORT=<database_port>
DB_PASSWORD=<database_password>

# Admin key
ADMIN_KEY=<admin_key>

# Client url
CLIENT_URL=<client_url>

# JWT secret
JWT_SECRET=<jwt_secret>

# services
UPLOAD_IMAGE_BASE_URL=<media_service_base_url>