@use '../variables' as variables;

.container {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.input-section {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

    .input {
        width: 100%;
        padding: 10px 10px 10px 40px;
        border-radius: 5px;
        @extend %input-basic-style;
    }

    .textarea{
        @extend .input;
        resize: none;
        height: 150px;
    }

    .input-icon {
        position: absolute;
        left: 7px;
        color: var(--disable-color);
    }
    
    .textarea-icon{
        @extend .input-icon;
        top: 7px;
    }
}