.container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.category-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 450px;
}