@use '../variables' as variables;

%add-movie-container-style {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.container {
    margin-top: 30px;
    @extend %add-movie-container-style;
    gap: 30px;
    width: 100%;

    .form-field {
        width: 450px;
    }
}

.category-container {
    @extend %add-movie-container-style;
    gap: 15px;
    width: 450px;

    .category {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}

.format-container {
    @extend %add-movie-container-style;
    gap: 15px;
    width: 450px;

    .formats {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}

.release-date-container {
    @extend %add-movie-container-style;
    position: relative;

    .date-picker {
        width: 450px;
    }
}

.duration-container {
    @extend %add-movie-container-style;

    .input-section-container {
        @extend %add-movie-container-style;
        gap: 5px;
    }

    .input-section {
        width: 450px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .input {
        @extend %input-basic-style;
        width: 100%;
        padding: 10px 10px 10px 40px;
    }

    .icon {
        position: absolute;
        left: 8px;
        color: var(--disable-color);
    }
}

.type-container{
    width: 450px;

    .checkbox-container{
        width: 100%;
        display: flex;
        margin-top: 10px;
        flex-wrap: wrap;
        gap: 10px;
    }
}

.crew-container {
    @extend %add-movie-container-style;

    .add-cast-container {
        width: 50px;
        height: 50px;
        background-color: var(--foreground-color);
        @include variables.disableBorderColor(0.3);
        border-radius: 5px;
        @extend %container-center-style;
        cursor: pointer;
        color: var(--disable-color);
    }

    .list {
        display: flex;
        gap: 10px;
        margin-top: 20px;
        flex-wrap: wrap;
    }

    .crew-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        img {
            width: 50px;
            aspect-ratio: 1 / 1;
            border-radius: 10px;
            opacity: 0.3;
        }

        span {
            font-size: 0.8rem;
            font-weight: 500;
            text-align: center;
            width: 50px;
            height: 20px;
            overflow: hidden;
        }

        .image-container {
            @extend %container-center-style;
            position: relative;
        }

        .icon {
            position: absolute;
        }
    }
}

.submit-button {
    width: 450px;
    @extend %primary-button-style;
}

@media(max-width: 600px) {

    .container {
        .form-field {
            width: 100%;
        }
    }

    .release-date-container {
        .date-picker {
            width: 100%;
        }
    }

    .duration-container {
        .input-section {
            width: 100%;
        }
    }

    .category-container {
        width: 100%;
    }

    .type-container{
        width: 100%;
    }

    .submit-button {
        width: 100%;
    }

    .format-container {
        width: 100%;
    }

}