@use '../variables' as variables;

.image-picker-container {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .image-picker-portrait {
        aspect-ratio: 2 / 3;
        width: 200px;
        background-color: var(--foreground-color);
        @extend %container-center-style;
        flex-direction: column;
        text-align: center;
        gap: 5px;
        padding-inline: 10px;
        cursor: pointer;
        @include variables.disableBorderColor(0.3)
    }
    
    .image-picker-landscape{
        @extend .image-picker-portrait;
        width: 300px;
        aspect-ratio: 16 / 9;
    }

    .icon {
        color: var(--disable-color);
    }

    p {
        font-size: 0.9rem;
        color: var(--disable-color);
    }
}